# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives__

- List popular languages for Data Science
- List popular tools for Data Science
- List popular libraries used in Data Science
- Show examples of arithmetic expressions written in python

### Some of the popular languages that Data Scientists use are:
1. Python
2. R Language
3. JavaScript
4. C+
5. SQL

### Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. TensorFlow
3. Ggplot
4. Seaborn
5. Scikit-learn

|Data Science Tools|
|------------------|
|Anaconda navigator|
|R studio|
|Github|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers.

(3*4)+5.

17.0

In [9]:
#This will convert 200 minutes to hours by diving by 60.

200/60

3.3333333333333335

## Author
Tristan